*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 100vh;
    background-image:url(./assets/bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
}

.main #menu{
    background-color: rgb(2, 2, 8);
    width: 70px;
    height: 100%;
    color: whitesmoke;
    transition: all 0.7s;
    position: relative;
    border-right: 1px solid grey;
    
}
.main #menu ul{
   list-style: none;
   margin: 0 auto;
   line-height: 3.5;
   
}
.main #menu ul li{
   text-align: center;
   transition: all 0.25s;
  

}
.main #menu ul li i{
    font-size: 1.4rem;

}
.main #menu ul li:hover{
    border-left: 3px solid skyblue;  
    cursor: pointer;
    
}
.main #menu ul li:nth-last-child(1), .main #menu ul li:nth-last-child(2){
    position: relative;
    top: 180px;
}

.liner{
    content: "";
    width: 85%;
    background: grey;
    height: 1px;
    position: absolute;
    top: 80%;
    left: 5px;
}
.main #menu ul li:nth-last-child(2)::before{
    content: "";
    width: 100px;
    height: 4px;
    background: white;  
}

.main .main_area{
    width: 100%;
}

.main .main_area nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121245;
    color: white;
    height: 70px;
    box-shadow: 0px 1px 3px black;
    z-index: 99;
}
.main .main_area nav .forecast_title{
    padding: 0 30px;
    font-size: 1.5rem;
    color: whitesmoke;
}
.main .main_area nav ul{
    display: flex;
    list-style: none;
}
.main .main_area nav ul li{
   padding-right: 15px;
  
}
.main .main_area nav ul li i{
    padding: 0 15px;
    font-size: 1.5rem;
    font-weight: 900;
    color: whitesmoke;
}
.main .main_area .weather{
    
    position: relative;
    top: 50%;
    transform: translate(0, -150%);
}
.main .main_area .weather h2{ 
    
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
.main .main_area .weather hr{ 
    width: 20%;
    height: 4px;
    border: none;
    background: #121245;
    margin: 10px auto;
}

.main .main_area .weather select{
   position: relative;
   left: 50%;
   transform: translate(-50%, 0);
   margin: 20px 0;
   padding: 10px 20px;
   background-color: transparent;
   border: 1px solid black;
   color: rgb(2, 2, 8);
   width: 40%;
}

/*hamburger*/
.hamburger{
    width: 30px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 10;
    margin: 25px auto;

}
 .top, .middle, .bottom{
    width: 30px;
    height: 3px;
    background: gray;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0);
    transition: all 0.54s;
}

.top{
    transform: translateY(10px);
}
.middle{
    transform: translateY(20px);
}
.open .top{
    transform: rotate(45deg) translateY(12px) translateX(12px);
}
.open .middle{
    display: none;
}
.open .bottom{
    transform: rotate(-45deg) translateX(-12px) translateY(12px);
}

.hidden{
    padding: 0 40px;   
}